/* 
    Created on : Jul 11, 2014, 8:34:24 AM
    Author     : kishore
*/
/* 
    Created on : Jul 9, 2014, 9:19:19 AM
    Author     : kishore
*/
/* line 19, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  vertical-align: baseline;
}

/* line 31, ../sass/partials/_reset.scss */
html {
  line-height: 1;
}

/* line 35, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../sass/partials/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 50, ../sass/partials/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 53, ../sass/partials/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 58, ../sass/partials/_reset.scss */
a img {
  border: none;
}

/* line 62, ../sass/partials/_reset.scss */
a, a:hover, a:active {
  outline: 0px;
  color: inherit;
}

/* line 67, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
    Created on : Jul 11, 2014, 8:31:23 AM
    Author     : kishore
*/
/* 
	Created on : Jul 11, 2014, 1:01:10 PM
	Author     : kishore
*/
/* line 6, ../sass/partials/_utilities.scss */
.lfloat {
  float: left;
}

/* line 9, ../sass/partials/_utilities.scss */
.rfloat {
  float: right;
}

/* line 13, ../sass/partials/_utilities.scss */
.marauto {
  margin: auto !important;
}

/* line 16, ../sass/partials/_utilities.scss */
.rmar5 {
  margin-right: 5px !important;
}

/* line 19, ../sass/partials/_utilities.scss */
.lmar5 {
  margin-left: 5px !important;
}

/* line 22, ../sass/partials/_utilities.scss */
.rmar10 {
  margin-right: 10px !important;
}

/* line 25, ../sass/partials/_utilities.scss */
.lmar10 {
  margin-left: 10px !important;
}

/* line 28, ../sass/partials/_utilities.scss */
.marh5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

/* line 32, ../sass/partials/_utilities.scss */
.marh10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

/* line 36, ../sass/partials/_utilities.scss */
.marv0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* line 40, ../sass/partials/_utilities.scss */
.marv5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* line 44, ../sass/partials/_utilities.scss */
.marv10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* line 49, ../sass/partials/_utilities.scss */
.pad0 {
  padding: 0px !important;
}

/* line 52, ../sass/partials/_utilities.scss */
.pad5 {
  padding: 5px !important;
}

/* line 55, ../sass/partials/_utilities.scss */
.pad10 {
  padding: 10px !important;
}

/* line 58, ../sass/partials/_utilities.scss */
.padh5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/* line 62, ../sass/partials/_utilities.scss */
.padh10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* line 66, ../sass/partials/_utilities.scss */
.padv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* line 70, ../sass/partials/_utilities.scss */
.padv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* 
    Created on : Jul 11, 2014, 9:03:04 AM
    Author     : kishore
*/
/* line 7, ../sass/partials/_navbar.scss */
.nav {
  background-color: #0c9301;
  height: 45px;
}

/* line 12, ../sass/partials/_navbar.scss */
.navbar {
  background-color: #0c9301;
  height: 100%;
  width: 100%;
  margin: auto;
  cursor: default;
  color: white;
}
/* line 20, ../sass/partials/_navbar.scss */
.navbar .nblock, .navbar.nblock {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 26, ../sass/partials/_navbar.scss */
.navbar .nblock .cell, .navbar.nblock .cell {
  display: table-cell;
  vertical-align: middle;
  line-height: 0px;
}
/* line 32, ../sass/partials/_navbar.scss */
.navbar .nblock .cell.logo, .navbar.nblock .cell.logo {
  padding: 0px 10px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 20px;
  color: white;
}
/* line 39, ../sass/partials/_navbar.scss */
.navbar .nblock .cell.lcell, .navbar .nblock .cell lcell, .navbar.nblock .cell.lcell, .navbar.nblock .cell lcell {
  padding: 0px 10px;
  cursor: pointer;
}
/* line 44, ../sass/partials/_navbar.scss */
.navbar .nblock .cell.lcell:hover, .navbar .nblock .cell lcell:hover, .navbar.nblock .cell.lcell:hover, .navbar.nblock .cell lcell:hover {
  background-color: #68fd5c;
  color: #063d02;
}
/* line 51, ../sass/partials/_navbar.scss */
.navbar .nblock .cell.dcell, .navbar .nblock .cell .dcell, .navbar.nblock .cell.dcell, .navbar.nblock .cell .dcell {
  padding: 0px 10px;
  cursor: pointer;
}
/* line 56, ../sass/partials/_navbar.scss */
.navbar .nblock .cell.dcell:hover, .navbar .nblock .cell .dcell:hover, .navbar.nblock .cell.dcell:hover, .navbar.nblock .cell .dcell:hover {
  background-color: #075700;
  color: #c6fdc2;
}
/* line 63, ../sass/partials/_navbar.scss */
.navbar .nblock .cell .lcell, .navbar .nblock .cell .dcell, .navbar.nblock .cell .lcell, .navbar.nblock .cell .dcell {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 72, ../sass/partials/_navbar.scss */
.navbar .nblock .cell.remain, .navbar.nblock .cell.remain {
  width: 100%;
}
/* line 78, ../sass/partials/_navbar.scss */
.navbar .nblock .cell .dropdown .button, .navbar.nblock .cell .dropdown .button {
  padding: 5px 10px;
}
/* line 81, ../sass/partials/_navbar.scss */
.navbar .nblock .cell .dropdown.total .button, .navbar.nblock .cell .dropdown.total .button {
  display: table-cell;
  vertical-align: middle;
  height: 45px;
  padding: 0px 7px;
}

/* 
	Created on : Jul 11, 2014, 10:36:52 AM
	Author     : kishore
*/
/* line 6, ../sass/partials/_dropdown.scss */
.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
}
/* line 12, ../sass/partials/_dropdown.scss */
.dropdown .button {
  display: inline-block;
  padding: 7px;
  color: #063d02;
  text-decoration: none;
  cursor: pointer;
}
/* line 20, ../sass/partials/_dropdown.scss */
.dropdown .button.light {
  color: white;
}
/* line 22, ../sass/partials/_dropdown.scss */
.dropdown .button.light:hover, .dropdown .button.light._clicked {
  background-color: #063d02;
}
/* line 27, ../sass/partials/_dropdown.scss */
.dropdown .button:hover, .dropdown .button._clicked {
  color: #8dfd84;
  background-color: #0c9301;
}
/* line 34, ../sass/partials/_dropdown.scss */
.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  cursor: default;
  background-color: white;
  min-width: 170px;
  padding: 10px 0px;
  border: 1px solid #ababab;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #0c9301;
  -moz-box-shadow: 0px 0px 5px #0c9301;
  box-shadow: 0px 0px 5px #0c9301;
  font-size: 13px;
}
/* line 48, ../sass/partials/_dropdown.scss */
.dropdown ul li {
  color: #063d02;
  padding: 5px 10px;
  cursor: pointer;
}
/* line 54, ../sass/partials/_dropdown.scss */
.dropdown ul li.divider {
  cursor: default;
  border-top: 1px solid #ababab;
  border-bottom: 0px solid;
  margin: 7px 0px;
  padding: 0px;
}
/* line 63, ../sass/partials/_dropdown.scss */
.dropdown ul li.disabled {
  cursor: default;
  color: #ababab !important;
}
/* line 66, ../sass/partials/_dropdown.scss */
.dropdown ul li.disabled:hover {
  background-color: white;
  color: inherit;
}
/* line 71, ../sass/partials/_dropdown.scss */
.dropdown ul li:hover {
  background-color: #0c9301;
  color: #8dfd84;
}
/* line 78, ../sass/partials/_dropdown.scss */
.dropdown ul._clicked {
  display: block;
}
/* line 83, ../sass/partials/_dropdown.scss */
.dropdown ul.right {
  right: 0%;
}
/* line 88, ../sass/partials/_dropdown.scss */
.dropdown ul.left {
  left: 0%;
}

/* 
	Created on : Jul 11, 2014, 12:40:53 PM
	Author     : kishore
*/
/* line 9, ../sass/partials/_grid.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10,
.span11, .span12, .span13, .span14, .span15, .span16, .span17, .span18, .span19, .span20 {
  box-sizing: border-box;
}

/* line 12, ../sass/partials/_grid.scss */
.span1 {
  width: 47px !important;
}

/* line 15, ../sass/partials/_grid.scss */
.span2 {
  width: 94px !important;
}

/* line 18, ../sass/partials/_grid.scss */
.span3 {
  width: 141px !important;
}

/* line 21, ../sass/partials/_grid.scss */
.span4 {
  width: 188px !important;
}

/* line 24, ../sass/partials/_grid.scss */
.span5 {
  width: 235px !important;
}

/* line 27, ../sass/partials/_grid.scss */
.span6 {
  width: 282px !important;
}

/* line 30, ../sass/partials/_grid.scss */
.span7 {
  width: 329px !important;
}

/* line 33, ../sass/partials/_grid.scss */
.span8 {
  width: 376px !important;
}

/* line 36, ../sass/partials/_grid.scss */
.span9 {
  width: 423px !important;
}

/* line 39, ../sass/partials/_grid.scss */
.span10 {
  width: 470px !important;
}

/* line 42, ../sass/partials/_grid.scss */
.span11 {
  width: 517px !important;
}

/* line 45, ../sass/partials/_grid.scss */
.span12 {
  width: 564px !important;
}

/* line 48, ../sass/partials/_grid.scss */
.span13 {
  width: 611px !important;
}

/* line 51, ../sass/partials/_grid.scss */
.span14 {
  width: 658px !important;
}

/* line 54, ../sass/partials/_grid.scss */
.span15 {
  width: 705px !important;
}

/* line 57, ../sass/partials/_grid.scss */
.span16 {
  width: 752px !important;
}

/* line 60, ../sass/partials/_grid.scss */
.span17 {
  width: 799px !important;
}

/* line 63, ../sass/partials/_grid.scss */
.span18 {
  width: 846px !important;
}

/* line 66, ../sass/partials/_grid.scss */
.span19 {
  width: 893px !important;
}

/* line 69, ../sass/partials/_grid.scss */
.span20 {
  width: 940px !important;
}

/* line 75, ../sass/partials/_grid.scss */
.rspan1 {
  width: 5% !important;
}

/* line 78, ../sass/partials/_grid.scss */
.rspan2 {
  width: 10% !important;
}

/* line 81, ../sass/partials/_grid.scss */
.rspan3 {
  width: 15% !important;
}

/* line 84, ../sass/partials/_grid.scss */
.rspan4 {
  width: 20% !important;
}

/* line 87, ../sass/partials/_grid.scss */
.rspan5 {
  width: 25% !important;
}

/* line 90, ../sass/partials/_grid.scss */
.rspan6 {
  width: 30% !important;
}

/* line 93, ../sass/partials/_grid.scss */
.rspan7 {
  width: 35% !important;
}

/* line 96, ../sass/partials/_grid.scss */
.rspan8 {
  width: 40% !important;
}

/* line 99, ../sass/partials/_grid.scss */
.rspan9 {
  width: 45% !important;
}

/* line 102, ../sass/partials/_grid.scss */
.rspan10 {
  width: 50% !important;
}

/* line 105, ../sass/partials/_grid.scss */
.rspan11 {
  width: 55% !important;
}

/* line 108, ../sass/partials/_grid.scss */
.rspan12 {
  width: 60% !important;
}

/* line 111, ../sass/partials/_grid.scss */
.rspan13 {
  width: 65% !important;
}

/* line 114, ../sass/partials/_grid.scss */
.rspan14 {
  width: 70% !important;
}

/* line 117, ../sass/partials/_grid.scss */
.rspan15 {
  width: 75% !important;
}

/* line 120, ../sass/partials/_grid.scss */
.rspan16 {
  width: 80% !important;
}

/* line 123, ../sass/partials/_grid.scss */
.rspan17 {
  width: 85% !important;
}

/* line 126, ../sass/partials/_grid.scss */
.rspan18 {
  width: 90% !important;
}

/* line 129, ../sass/partials/_grid.scss */
.rspan19 {
  width: 95% !important;
}

/* line 132, ../sass/partials/_grid.scss */
.rspan20 {
  width: 100% !important;
}

/* 
	Created on : Jul 11, 2014, 12:54:37 PM
	Author     : kishore
*/
/* line 6, ../sass/partials/_well.scss */
.well, .well-large, .well-small, .well-none {
  margin: auto;
  background-color: #0c9301;
  color: white;
  padding: 10px;
}
/* line 12, ../sass/partials/_well.scss */
.well.light, .well-large.light, .well-small.light, .well-none.light {
  background-color: white;
  color: #063d02;
}

/* line 18, ../sass/partials/_well.scss */
.well-none {
  padding: 0px;
}

/* line 21, ../sass/partials/_well.scss */
.well-small {
  padding: 7px;
}

/* line 24, ../sass/partials/_well.scss */
.well-large {
  padding: 15px;
}

/* 
	Created on : Jul 13, 2014, 4:06:13 PM
	Author     : kishore
*/
/* line 6, ../sass/partials/_flash.scss */
.flash {
  position: fixed;
  display: table;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 15, ../sass/partials/_flash.scss */
.flash .fblock {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 19, ../sass/partials/_flash.scss */
.flash .fblock .fcontent {
  display: block;
}
/* line 23, ../sass/partials/_flash.scss */
.flash._display {
  display: none;
}
