/* 
    Created on : Jul 11, 2014, 8:34:24 AM
    Author     : kishore
*/
/* 
    Created on : Jul 9, 2014, 9:19:19 AM
    Author     : kishore
*/
/* line 19, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  vertical-align: baseline;
}

/* line 30, ../sass/partials/_reset.scss */
html {
  line-height: 1;
}

/* line 34, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../sass/partials/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 49, ../sass/partials/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 52, ../sass/partials/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 57, ../sass/partials/_reset.scss */
a img {
  border: none;
}

/* line 61, ../sass/partials/_reset.scss */
a, a:hover, a:active {
  outline: 0px;
  color: inherit;
}

/* line 66, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
    Created on : Jul 11, 2014, 8:31:23 AM
    Author     : kishore
*/
/* 
    Created on : Jul 11, 2014, 9:03:04 AM
    Author     : kishore
*/
/* line 6, ../sass/partials/_navbar.scss */
.nav {
  background-color: #0c9301;
  height: 40px;
}

/* line 11, ../sass/partials/_navbar.scss */
.navbar {
  height: 100%;
  width: 950px;
  margin: auto;
  cursor: default;
  color: white;
}
/* line 19, ../sass/partials/_navbar.scss */
.navbar .block, .navbar.block {
  display: table;
}
/* line 23, ../sass/partials/_navbar.scss */
.navbar .block .cell, .navbar.block .cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 28, ../sass/partials/_navbar.scss */
.navbar .block .cell.logo, .navbar.block .cell.logo {
  padding: 0px 10px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 20px;
  color: white;
}
/* line 35, ../sass/partials/_navbar.scss */
.navbar .block .cell.lcell, .navbar .block .cell lcell, .navbar.block .cell.lcell, .navbar.block .cell lcell {
  padding: 0px 10px;
  cursor: pointer;
}
/* line 40, ../sass/partials/_navbar.scss */
.navbar .block .cell.lcell:hover, .navbar .block .cell lcell:hover, .navbar.block .cell.lcell:hover, .navbar.block .cell lcell:hover {
  background-color: #68fd5c;
  color: #063d02;
}
/* line 47, ../sass/partials/_navbar.scss */
.navbar .block .cell.dcell, .navbar .block .cell .dcell, .navbar.block .cell.dcell, .navbar.block .cell .dcell {
  padding: 0px 10px;
  cursor: pointer;
}
/* line 52, ../sass/partials/_navbar.scss */
.navbar .block .cell.dcell:hover, .navbar .block .cell .dcell:hover, .navbar.block .cell.dcell:hover, .navbar.block .cell .dcell:hover {
  background-color: #075700;
  color: #c6fdc2;
}
/* line 59, ../sass/partials/_navbar.scss */
.navbar .block .cell .lcell, .navbar .block .cell .dcell, .navbar.block .cell .lcell, .navbar.block .cell .dcell {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 68, ../sass/partials/_navbar.scss */
.navbar .block .cell.remain, .navbar.block .cell.remain {
  width: 100%;
}

/* 
	Created on : Jul 11, 2014, 10:36:52 AM
	Author     : kishore
*/
/* line 6, ../sass/partials/_dropdown.scss */
.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
}
/* line 12, ../sass/partials/_dropdown.scss */
.dropdown .button {
  display: inline-block;
  padding: 7px;
  color: #063d02;
  text-decoration: none;
}
/* line 19, ../sass/partials/_dropdown.scss */
.dropdown .button.light {
  color: white;
}
/* line 21, ../sass/partials/_dropdown.scss */
.dropdown .button.light:hover, .dropdown .button.light._clicked {
  background-color: #063d02;
}
/* line 26, ../sass/partials/_dropdown.scss */
.dropdown .button:hover, .dropdown .button._clicked {
  color: #8dfd84;
  background-color: #0c9301;
}
/* line 33, ../sass/partials/_dropdown.scss */
.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  cursor: default;
  background-color: white;
  min-width: 170px;
  padding: 10px 0px;
  box-shadow: 0px 0px 10px #0c9301;
  font-size: 13px;
}
/* line 45, ../sass/partials/_dropdown.scss */
.dropdown ul li {
  color: #063d02;
  padding: 5px 10px;
  cursor: pointer;
}
/* line 49, ../sass/partials/_dropdown.scss */
.dropdown ul li:hover {
  background-color: #0c9301;
  color: #8dfd84;
}
/* line 56, ../sass/partials/_dropdown.scss */
.dropdown ul._clicked {
  display: block;
}
/* line 61, ../sass/partials/_dropdown.scss */
.dropdown ul.right {
  right: 0%;
}
/* line 66, ../sass/partials/_dropdown.scss */
.dropdown ul.left {
  left: 0%;
}
