/* 
	Created on : Jul 11, 2014, 10:36:52 AM
	Author     : kishore
*/

.dropdown{
	position : relative;
	display : inline-block;
	margin : auto;
	
	// Button which toggles dropdown.
	.button{
		display : inline-block;
		padding : 7px;
		color : $ddColor;
		text-decoration : none;
		
		// Light button for dark background elements
		&.light{
			color : white;
			&:hover,&._clicked{
				background-color : $ddColor;
			}
		}
		
		&:hover,&._clicked{
			color : $llColor;
			background-color : $Color;
		}
	}
	
	// Dropdown menu.
	ul{
		display : none;
		position : absolute;
		top : 100%;
		cursor : default;
		background-color : white;
		min-width : 170px;
		padding : 10px 0px;
		box-shadow : 0px 0px 10px $Color;
		font-size : 13px;
		
		// Elements of drop down menu.
		li{
			color : $ddColor;
			padding : 5px 10px;
			cursor : pointer;
			
			
			&.divider{
				cursor : default;
				border-top : 1px solid #ababab;
				border-bottom : 0px solid;
				margin : 7px 0px;
				padding : 0px;
			}
			
			// Elements in dropdown menu that are disabled.
			&.disabled{
				cursor : default;
				color : #ababab !important;
				&:hover{
					background-color : white;
					color : inherit;
				}
			}
			&:hover{
				background-color : $Color;
				color : $llColor;
			}
		}
		
		// Display menu if button is clicked.
		&._clicked{
			display : block;
		}
		
		// Right overlay
		&.right{
			right : 0%;
		}
		
		// Left overlay
		&.left{
			left : 0%;
		}
	}
}