/* 
	Created on : Jul 11, 2014, 12:40:53 PM
	Author     : kishore
*/

$span_width : 47px;

.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,
.span11,.span12,.span13,.span14,.span15,.span16,.span17,.span18,.span19,.span20{
	box-sizing : border-box;
}
.span1{
	width : $span_width * 1 !important;
}
.span2{
	width : $span_width * 2 !important;	
}
.span3{
	width : $span_width * 3 !important;	
}
.span4{
	width : $span_width * 4 !important;
}
.span5{
	width : $span_width * 5 !important;
}
.span6{
	width : $span_width * 6 !important;
}
.span7{
	width : $span_width * 7 !important;
}
.span8{
	width : $span_width * 8 !important;
}
.span9{
	width : $span_width * 9 !important;
}
.span10{
	width : $span_width * 10 !important;
}
.span11{
	width : $span_width * 11 !important;
}
.span12{
	width : $span_width * 12 !important;
}
.span13{
	width : $span_width * 13 !important;
}
.span14{
	width : $span_width * 14 !important;
}
.span15{
	width : $span_width * 15 !important;
}
.span16{
	width : $span_width * 16 !important;
}
.span17{
	width : $span_width * 17 !important;
}
.span18{
	width : $span_width * 18 !important;
}
.span19{
	width : $span_width * 19 !important;
}
.span20{
	width : $span_width * 20 !important;
}

$rspan_width : 5%;

.rspan1{
	width : $rspan_width * 1 !important;
}
.rspan2{
	width : $rspan_width * 2 !important;	
}
.rspan3{
	width : $rspan_width * 3 !important;	
}
.rspan4{
	width : $rspan_width * 4 !important;
}
.rspan5{
	width : $rspan_width * 5 !important;
}
.rspan6{
	width : $rspan_width * 6 !important;
}
.rspan7{
	width : $rspan_width * 7 !important;
}
.rspan8{
	width : $rspan_width * 8 !important;
}
.rspan9{
	width : $rspan_width * 9 !important;
}
.rspan10{
	width : $rspan_width * 10 !important;
}
.rspan11{
	width : $rspan_width * 11 !important;
}
.rspan12{
	width : $rspan_width * 12 !important;
}
.rspan13{
	width : $rspan_width * 13 !important;
}
.rspan14{
	width : $rspan_width * 14 !important;
}
.rspan15{
	width : $rspan_width * 15 !important;
}
.rspan16{
	width : $rspan_width * 16 !important;
}
.rspan17{
	width : $rspan_width * 17 !important;
}
.rspan18{
	width : $rspan_width * 18 !important;
}
.rspan19{
	width : $rspan_width * 19 !important;
}
.rspan20{
	width : $rspan_width * 20 !important;
}
