/* 
    Created on : Jul 11, 2014, 9:03:04 AM
    Author     : kishore
*/

$navbar_height : 45px;
.nav{
    background-color : $Color;
	height : $navbar_height;
}

.navbar{
	background-color : $Color;
	height : 100%;
	width : 100%;
	margin : auto;
	cursor : default;
	color : white;

	.nblock,&.nblock{
		display : table;
		height : 100%;
		width : 100%;
		
		// Default Cell style
		.cell{
			display : table-cell;
			vertical-align : middle;
			line-height : 0px;
			
			// Styles for logo.
			&.logo{
				padding : 0px 10px;
				font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
				font-size : 20px;
				color : white;
			}
			// Light cell nested inside cell or just cell
			&.lcell,lcell{
				padding : 0px 10px;
				cursor : pointer;
				
				// Changing color and background to reflect lightness
				&:hover{
					background-color : $lColor;
					color : $ddColor;
				}
			}

			// Dark Cell
			&.dcell,.dcell{
				padding : 0px 10px;
				cursor : pointer;
				
				// Changing color and background to reflect Darkness
				&:hover{
					background-color : $dColor;
					color : $lllColor;
				}
			}
			
			// Applying vertical padding for nested cell elements.
			.lcell,.dcell{
				padding : 5px 10px;
				
				// Added these styles so that for max width nested cells
				// Elements show ellipsis and do not wrap around width;
				white-space : nowrap;
				overflow : hidden;
				text-overflow : ellipsis;
			}
			&.remain{
				width : 100%;
			}
			
			// Span height of dropdown button defined with total style.
			.dropdown{
				.button{
					padding : 5px 10px;
				}
				&.total .button{
					display : table-cell;
					vertical-align : middle;
					height : $navbar_height;
					padding : 0px 7px;
				}
			}
		}
	}
}